@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Roboto+Flex:opsz,wdth,wght@8..144,25..151,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Martian Mono", "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
}

html {
  scroll-behavior: smooth;
  background-color: #EEF0F3;
  color: #203A9C
}

html.dark {
  background-color: #203A9C;
  color: #EEF0F3
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.roboto-flex-emphasis {
                font-family: "Roboto Flex", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-variation-settings:
                "slnt" 0,
                "wdth" 100,
                "GRAD" 70,
                "XOPQ" 96,
                "XTRA" 400,
                "YOPQ" 79,
                "YTAS" 750,
                "YTDE" -203,
                "YTFI" 600,
                "YTLC" 514,
                "YTUC" 560;
              }
